body, html {
    height: 100%;
  }
  
  .bg {
    /* The image used */
    background-image: url("/assets/images/image_background.webp");
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .central-header {
    text-align: center;
    background-color: #FA5F22;
    padding: 2em;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 20%;
  }


  /* mobile */
  @media (min-width: 320px) and (max-width: 480px) {
   /* .bg {
    background-size: cover; */
   }
  
  

  /* ipad */
  @media (min-width: 768px) and (max-width: 1024px) {
   .bg {
    background-size: cover;
    height: 100%;
    background-position: center;
   }
    }
  